@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap');

:root {
  /* fonts */
  --ff-header: BioRhyme;
  --ff-content: SF Compact Display;

  /* colours */
  --clr-white: #ffffff;
  --clr-link: #3633f8;
  --clr-primary1-100: #5c1010;
  --clr-primary1-80: #843838;
  --clr-primary1-50: #ac6060;
  --clr-primary1-20: #d48888;
  --clr-primary1-5: #ffc4c4;
  --clr-neutral-100: #17181c;
  --clr-neutral-80: #434447;
  --clr-neutral-50: #858688;
  --clr-neutral-20: #c9c9ca;
  --clr-neutral-5: #eaeaea;
  --clr-neutral-5-50: #eaeaea88;
  --clr-primary2-100: #ffd300;
  --clr-primary2-80: #fdda31;
  --clr-primary2-50: #fae37a;
  --clr-primary2-20: #f7eec4;
  --clr-primary2-5: #f6f4e9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

h2,
h3 {
  font-family: var(--ff-header);
}

h2 {
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-shadow: 1px 16px 25px rgba(0, 0, 0, 0.25);
}

h3 {
  font-weight: 400;
  line-height: 40px;
}

.box1 {
  margin-left: 5rem;
  display: flex;
  padding-top: 3rem;
  gap: 1rem;
  padding-bottom: 3rem;
}

.bar {
  background-color: var(--clr-primary1-100);
  padding: 0.8rem 0.2rem;
}

.box2 {
  display: flex;
  gap: 5rem;
}

.wrapper1 {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  gap: 2rem;
}

.wrapper2 {
  border: 1px solid var(--clr-neutral-20);
  margin-right: 5rem;
  border-radius: 16px;
  padding: 0 1rem;
  padding-top: 10rem;
}

.container3 {
  background-color: var(--clr-primary1-100);
  padding: 2rem 0.5rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container3 h3 {
  color: var(--clr-white);
  text-align: center;
  padding-bottom: 1rem;
}

.container3 p {
  font-size: 1rem;
  color: var(--clr-white);
  font-weight: 400;
  text-align: center;
  padding-bottom: 2rem;
}

.container3 button {
  background-color: var(--clr-white);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 16px;
  color: var(--clr-primary1-100);
  margin-top: 3rem;
}

.container3 button:hover {
  background-color: transparent;
  border: 1px solid var(--clr-white);
  color: var(--clr-white);
}
.container3 a {
  text-decoration: none;
  color: var(--clr-primary1-100);
}
.container3 a:hover {
  color: var(--clr-white);
}

.section-two {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: -1rem;
}

.page-number {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-primary1-100);
  padding: 1rem;
  border-radius: 50%;
  color: var(--clr-primary1-100);
  text-align: center;
}

.numbers {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.page-number:hover {
  background-color: var(--clr-primary1-100);
  color: var(--clr-white);
  cursor: pointer;
}

.page-number.active {
  background-color: var(--clr-primary1-100);
  color: var(--clr-white);
  cursor: pointer;
}

#backward {
  background-color: var(--clr-primary1-100);
  margin-left: 5rem;
  padding: 0.5rem 1rem;
  opacity: 0.5;
  box-shadow: 0px 24px 32px -15px rgba(168, 175, 182, 0.15);
  border-radius: 30px;
}

#forward {
  background-color: var(--clr-primary1-100);
  margin-right: 5rem;
  padding: 0.5rem 1rem;
  box-shadow: 0px 24px 32px -15px rgba(168, 175, 182, 0.15);
  border-radius: 30px;
}

#backward:hover {
  background-color: var(--clr-primary1-100);
  color: var(--clr-white);
  cursor: pointer;
}

#forward:hover {
  background-color: var(--clr-primary1-100);
  color: var(--clr-white);
  cursor: pointer;
}

@media (max-width: 1114px) {
  .wrapper2 {
    display: none;
  }

  .wrapper1 {
    margin: 0 2rem;
  }
}

@media (max-width: 898px) {
  .wrapper1 {
    margin: 0 5rem;
  }
}

@media (max-width: 600px) {
  .wrapper1 {
    margin: 0 1rem;
  }

  .box1 {
    margin-left: 1rem;
    display: flex;
    padding-top: 3rem;
    gap: 1rem;
    padding-bottom: 3rem;
  }

  .page-number {
    padding: 0.5rem;
  }

  .numbers {
    display: flex;
    gap: 0.5rem;
  }

  #backward {
    margin-left: 1rem;
    padding: 0.5rem 0.5rem;
  }

  #forward {
    margin-right: 1rem;
    padding: 0.5rem 0.5rem;
  }

  .section-two {
    gap: 1rem;
  }
}
