section {
    position: relative;
}

section#hero {
    overflow: hidden;
    background-color: #eee;
}

section#hero>img {
    user-select: none;
    pointer-events: none;
}

section#hero>img.hero {
    width: 100% !important;
    object-fit: cover;
    object-position: 50% center;
    height: 500px;

}

section#hero>img.spin {
    width: 290px;
    position: absolute;
    top: 46.5%;
    left: 49.8%;
    transform: translate(-50%, -50%);
    animation: rotate 15000ms 2000ms linear infinite;
    transform-origin: top left;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-50%, -50%);
    }

    to {
        transform: rotate(360deg) translate(-50%, -50%);
    }
}

section#hero>header {
    position: absolute;
    left: var(--page-padding);
    top: 2rem;
    background-color: var(--clr-primary1-5);
    padding: .65rem;
    border-radius: 1rem;
}

section#hero>header>h1 {
    color: var(--clr-primary1-100);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-weight: 400;
}

section#hero>header>h1>span:nth-child(1) {
    grid-area: 1/1/2/3
}

section#hero>img.hero-mobile {
    display: block;
    visibility: visible;
}

section#hero>.tagline {
    height: 2.25rem;
    position: absolute;
    bottom: 0;
    left: 25vw;
    transform-origin: center left;
    transform: rotateZ(-45deg);
}

section#hero>.tagline>img {
    height: 100%;
}

section#hero>img.hero-desktop {
    display: none;
    visibility: hidden;
}

section#featured>.wrapper {
    overflow-y: auto;
    margin-right: calc(-1 * var(--page-padding));
    margin-left: calc(-1 * var(--page-padding));
}

section#featured>.wrapper>.post-cards {
    padding-inline: var(--page-padding);
    display: inline-flex;
    gap: 2.75rem
}

section#featured>.wrapper>.post-cards>.mini-post {
    width: 18rem;
}

section#popular>.wrapper {
    overflow-y: auto;
    margin-right: calc(-1 * var(--page-padding));
    margin-left: calc(-1 * var(--page-padding));
}

section#popular>.wrapper>.post-cards {
    padding-inline: var(--page-padding);
    display: inline-flex;
    flex-direction: column;
    gap: 2.75rem
}

section#popular>.wrapper>.post-cards>.mini-post {
    height: 23.75rem;
    flex-direction: row;
}
section#popular>.wrapper>.post-cards>.mini-post>.post-img {
    flex-basis: 100%;
    height: 100%;
    width: 30rem;
}

section#popular>.wrapper>.post-cards>.mini-post>.post-img>img {
    width: 100%;
}
section#popular>.wrapper>.post-cards>.mini-post>.post-details {
    flex-basis: 100%;
    text-align: left;
    align-items: flex-start;
}
.mini-post {
    flex-shrink: 0;
    display: inline-flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--clr-primary1-5);
}

.mini-post>.post-img {
    height: 12rem;
    border-radius: inherit;
}

.mini-post>.post-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    object-position: center;
}

.mini-post>.post-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}
.mini-post>.post-details>.post-description {
    margin-bottom: auto;
}
.mini-post>.post-details>.post-author {
    height: 40px;
    place-items: center;
    background-color: var(--clr-white);
    padding: .5rem;
    display: inline-flex;
    border-radius: .5rem;
    font-size: .9rem;
}

.mini-post>.post-details>.interactions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mini-post>.post-details>.interactions>nav {
    margin-right: auto;
}

.mini-post>.post-details>.interactions>.like {
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
    cursor: pointer;
}

.mini-post>.post-details>.interactions>.like>span:nth-child(1) {
    color: var(--clr-primary1-100);
}

@media screen and (min-width: 1024px) {
    section#hero>img.hero-mobile {
        display: none;
        visibility: hidden;
    }

    section#hero>img.hero-desktop {
        display: block;
        visibility: visible;
    }
}