section#page-form form input {
    width: 100%;
    padding: 0.5em 0.875em;
}
section#page-form .text {
  text-align: center;
}
section#page-form>form>.form {
    justify-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    gap: 1.5em .5rem;
}
section#page-form>form>.form>.form-group {
    border-radius: 8px;
    border: 1px solid #eaeaea;
    background-color: var(--clr-white);
    width: 100%;
}


section#page-form>form>.form> .password-container {
    width: 100%;
    position: relative;
    display: inline-flex;
    align-items: center;
}
section#page-form .password-container img {
    height: 2rem;
    cursor: pointer;
    padding: 2px;
}
section#page-form .btn {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: #fff;
  background-color: var(--clr-primary1-100);
  border: 2px solid #5c1010;
  border-radius: 32px;
  padding: 1em 2.75em;
  margin-top: 2em;
  margin: auto;
}
section#page-form .btn:hover {
  cursor: pointer;
  color: #5c1010;
  background-color: transparent;
}
@media (min-width: 600px) {
    section#page-form .text {
        margin-bottom: 5em;
    }
    section#page-form>form>.form>.password-container {
        width: 48%;
    }
}
