* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #FFFFFF;
}

.img {
    max-width: 100%;
    
}

.error-content {
    
    display: flex;
    justify-content: center;
    align-content: center;

}

.error-text {
    padding: 3%;
    margin-top: 20%;
}

.error-text--heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 31px;
    color: #222222;
    margin-top: -6%;
    padding-bottom: 25px;
}

.error-text--para {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    color: #222222;
    padding-bottom: 20px;
    
    margin-top: 300px;
}
.error-a{
    display: flex;
    gap: 1em;
}




