/* variables */
:root {
  /* fonts */
  --ff-header: BioRhyme, Verdana, sans-serif;
  --ff-content: SF Compact Display, Segoe UI, Tahoma;

  /* colours */
  --clr-white: #FFFFFF;
  --clr-link: #3633F8;
  --clr-primary1-100: #5C1010;
  --clr-primary1-80: #843838;
  --clr-primary1-50: #AC6060;
  --clr-primary1-20: #D48888;
  --clr-primary1-5: #FFC4C4;
  --clr-neutral-100: #17181C;
  --clr-neutral-80: #434447;
  --clr-neutral-50: #858688;
  --clr-neutral-20: #C9C9CA;
  --clr-neutral-5: #EAEAEA;
  --clr-neutral-5-50: #EAEAEA88;
  --clr-primary2-100: #FFD300;
  --clr-primary2-80: #FDDA31;
  --clr-primary2-50: #FAE37A;
  --clr-primary2-20: #F7EEC4;
  --clr-primary2-5: #F6F4E9;

  /* Page Padding */
  --page-padding: 1rem;

}

/* shows all light mode elements */
:root .light {
  display: block;
}

/* hides all dark mode elements */
:root .dark {
  display: none;
}

:root[data-theme=dark] {
  /* SWITCH CASES FOR DARK MODE */
  /* waiting for designers to update this */
  --clr-white: #17181C;
  --clr-link: #3633F8;
  --clr-primary1-100: #FF6700;
  --clr-primary1-80: #FD8331;
  --clr-primary1-50: #FAAD7A;
  --clr-primary1-20: #F7D9C4;
  --clr-primary1-5: #F6EEE9;
  --clr-neutral-100: #FFFFFF;
  --clr-neutral-80: #434447;
  --clr-neutral-50: #858688;
  --clr-neutral-20: #C9C9CA;
  --clr-neutral-5: #EAEAEA;
  --clr-primary2-100: #FFD300;
  --clr-primary2-80: #FDDA31;
  --clr-primary2-50: #FAE37A;
  --clr-primary2-20: #F7EEC4;
  --clr-primary2-5: #F6F4E9;
}

/* shows all dark mode elements */
:root[data-theme=dark] .dark {
  display: block;
}

/* hides all light mode elements */
:root[data-theme=dark] .light {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  color: var(--clr-neutral-100);
  font-family: var(--ff-content);
  background-color: var(--clr-white);
  min-height: 100vh;
  font-weight: 400;
}

input {
  outline: none;
  border: none;
  font-family: inherit;
  caret-color: var(--clr-neutral-20);
  padding: .2rem .5rem;
  background-color: transparent;
}

a {
  all: unset
}

a.link {
  color: var(--clr-link);
}

input,
input::placeholder {
  font-family: inherit;
  color: inherit;
}

img.fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.sticky {
  position: fixed !important;
  top: 0px;
  width: 100%;
  z-index: 2;
  background-color: var(--clr-neutral-5-50);
  backdrop-filter: blur(12px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-header);
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
}
p {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}
/*img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* site header */
#site-header {
  --padding: .5rem var(--page-padding);
  width: 100%;
  filter: blur(0px);
  transition-property: background-color, filter;
  transition-duration: 500ms;
  position: relative;
  z-index: 20;
}

#site-header>.wrapper1,
#site-header>.wrapper2 {
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#site-header>.wrapper1 {
  border-bottom: 1px solid var(--clr-neutral-5)
}

#site-header>.wrapper1>.icon {
  height: 2rem;
  display: inline-flex;
}
#site-header>.wrapper1>.search {
  display: none;
}

#site-header>.wrapper1>.toggle-theme>span {
  display: inline-flex;
  height: 2.5rem;
  padding: .5rem;
  background-color: var(--clr-primary1-20);
  border-radius: 50%;
}


#site-header>.wrapper2 {
  column-gap: 2rem;
}

#site-header>.wrapper2>.menu>.hamburger {
  cursor: pointer;
}

#site-header>.wrapper2>.menu>.hamburger>svg>path {
  transition: stroke 500ms;
}

#site-header>.wrapper2>.menu>.hamburger:hover>svg>path {
  stroke: var(--clr-primary1-80);
}

#site-header>.wrapper2>.menu>.header-nav {
  position: fixed;
  display: flex;
  opacity: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  overflow: hidden;
  transition-property: transform, opacity;
  transition-duration: 300ms;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: var(--clr-primary1-100);
  border-radius: 0 1rem 1rem 0;
  padding: 1rem;
  width: 75vw;
  color: var(--clr-white);
  overflow-y: auto;
}

#site-header>.wrapper2>.menu>.header-nav>.close {
  margin: 0 0 50px auto;
  cursor: pointer;
}

#site-header>.wrapper2>.menu>.header-nav>.close>path {
  fill: var(--clr-white)
}


#site-header>.wrapper2>.menu>.header-nav>.wrapper {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: space-between;
  row-gap: 4rem;
}

#site-header>.wrapper2>.menu>.header-nav>.wrapper>.icon {
  height: 2rem;
}

#site-header>.wrapper2>.menu>.header-nav>.wrapper>.icon>img {
  height: 100%;
  margin: auto;
}

#site-header>.wrapper2>.menu>.header-nav>.wrapper>.search>.search-box {
  flex-direction: row-reverse;
}

#site-header>.wrapper2>.menu>.header-nav>.wrapper>ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#site-header>.wrapper2>.menu>.header-nav>.wrapper>ul>li {
  list-style: none;
  padding: 1rem;
}
#site-header>.wrapper2>.menu>.header-nav>.wrapper>ul>.categories{
  display: flex;
  flex-direction: column;
}
#site-header>.wrapper2>.menu>.header-nav>.wrapper>ul>.categories>ul {
  display: none;
  list-style: none;
  font-weight: 300;
  margin-left: 1rem;
  margin: 1rem;
  flex-direction: column;
}

#site-header>.wrapper2>.menu>.header-nav>.wrapper>ul>.categories>ul>li {
  padding: .25rem 0;
}

#site-header>.wrapper2>.menu>.header-nav>.wrapper>ul>.categories>div {
  display: inline-flex;
  column-gap: 1rem;
}

#site-header>.wrapper2>.menu>.header-nav>.wrapper>ul>.categories>div>span:nth-child(2) {
  pointer-events: none;
  transform: rotate(0deg);
  transition: transform 200ms linear;
}

#site-header>.wrapper2>.menu>.header-nav>.wrapper>ul>.categories.dropped-down>ul {
  display: inline-flex;
}
#site-header>.wrapper2>.menu>.header-nav>.wrapper>ul>.categories.dropped-down>div>span:nth-child(2) {
  transform: rotate(180deg);
}
#site-header>.wrapper2>.menu>.header-nav>.wrapper>ul>li+li {
  border-top: 1px solid var(--clr-primary1-80)
}

#site-header>.wrapper2>.menu.active>.header-nav {
  margin-right: 100vw;
  opacity: 1;
  transform: translateX(0%);
  pointer-events: all;
}



.container>section:not(#hero):not(section > section) {
  padding-inline: var(--page-padding);
  padding-block: 3rem;
}

.container>section:not(#hero):not(section > section)>header {
  border-left: 5px solid var(--clr-primary1-100);
  padding: .625rem 1rem;
  margin-bottom: 2rem;
}

.container>section:not(#hero):not(section > section)>header>h1 {
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--clr-primary1-100);
}

#site-footer {
  background-color: var(--clr-primary1-100);
  color: var(--clr-white);
  font-weight: 300;
  padding: 50px 26.5px
}

#site-footer > div {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem
}

#site-footer > div > * {
  /*hello*/
  justify-content: center;
  display: inline-flex;
}
#site-footer > .follow {
  margin-bottom: 3rem;
}
#site-footer > .follow > .wrapper > span {
  padding: 0.75rem 0.625rem
}

#site-footer > .links > div > a {
  padding: .5rem;
}

.styled-scrollbars {
  margin-bottom: 25px;
  overflow-y: auto;
}

.styled-scrollbars::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  border-radius: 10px;
  background-color: var(--clr-white);
}

.styled-scrollbars::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.styled-scrollbars::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--clr-primary1-80);
}

.styled-scrollbars-y {
  margin-bottom: 0;
}

.dropdown-primary {
  background-color: var(--clr-primary2-100);
  border-radius: 1rem;
  padding: 1.75rem 0.875rem
}

.dropdown-primary>ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dropdown-primary>ul>li {
  list-style: none;
  width: 100%;
  color: var(--clr-neutral-50);
  padding: 1rem;
}

.dropdown-primary>ul>li+li {
  border-top: 1.5px solid var(--clr-neutral-20)
}

/* use this class to align svg to the center their wrapper horizontally and vertically */
.svg-wrapper {
  display: inline-flex;
  place-items: center;
}

/* SEARCH COMPONENT */
.search {
  width: 100%;
}

.search>.search-box {
  color: var(--clr-neutral-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem .5rem;
  border-radius: .5rem;
  box-shadow: 0px 12px 24px -10px #b3b6ba44;
  position: relative;
  background-color: var(--clr-white);
}

.search>.search-box::after {
  display: block;
  content: "";
  left: 0;
  width: 0%;
  height: 0%;
  border-radius: inherit;
  z-index: -1;
  position: absolute;
  transition-property: width, height;
  transition-duration: 500ms;
}

.search>.search-box:focus-within::after {
  outline: 2px solid var(--clr-primary1-50);
  width: 100%;
  height: 100%;
}

.search>.search-box>span:nth-child(1),
.search>.search-box>span:nth-child(1)>input {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.8rem;
  }
  #site-header>.wrapper1>.search {
    display: block;
  }
  #site-header>.wrapper2 {
    border-bottom: 1px solid var(--clr-neutral-5)
  }
  #site-header>.wrapper2>.menu {
    width: 100%;
  }
  #site-header>.wrapper2>.menu>.hamburger {
    display: none;
  }
  #site-header>.wrapper2>.menu>.header-nav {
    position: static;
    opacity: 1;
    width: auto;
    height: auto;
    transform: none;
    z-index: 1;
    border-radius: 0;
    background-color: transparent;
    color: inherit;
    padding: 0
  }
  #site-header>.wrapper2>.menu>.header-nav>.close {
    display: none;
  }
  #site-header>.wrapper2>.menu>.header-nav>.wrapper>.icon, #site-header>.wrapper2>.menu>.header-nav>.wrapper>.search {
    display: none;
  }
  #site-header>.wrapper2>.menu>.header-nav>.wrapper>ul {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  #site-header>.wrapper2>.menu>.header-nav>.wrapper>ul>.categories>ul {
    position: absolute;
    margin: 0;
    bottom: 0;
    transform: translateY(100%);
    padding: 1rem;
    background-color: var(--clr-primary1-5);
    border-radius: 1rem;
    font-weight: normal;
  }
  #site-header>.wrapper2>.menu>.header-nav>.wrapper>ul>.categories>ul>li {
    padding: .5rem 0;
  }
  #site-header>.wrapper2>.menu>.header-nav>.wrapper>ul>li+li {
    border: none
  }
  #site-header>.wrapper2>.menu>.header-nav>.wrapper>ul>.categories>ul>li+li {
    border-top: 1px solid black;
  }
  #site-header>.wrapper2>.search {
    display: none;
  }
  .container>section:not(#hero):not(section > section)>header {
    display: inline-flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}