/* variables */
:root {
  /* fonts */
  --ff-header: BioRhyme;
  --ff-content: SF Compact Display;

  /* colours */
  --clr-white: #FFFFFF;
  --clr-link: #3633F8;
  --clr-orange-100: #FF6700;
  --clr-orange-80: #FD8331;
  --clr-orange-50: #FAAD7A;
  --clr-orange-20: #F7D9C4;
  --clr-orange-5: #F6EEE9;
  --clr-black-100: #17181C;
  --clr-black-80: #434447;
  --clr-black-50: #858688;
  --clr-black-20: #C9C9CA;
  --clr-black-5: #EAEAEA;
  --clr-yellow-100: #FFD300;
  --clr-yellow-80: #FDDA31;
  --clr-yellow-50: #FAE37A;
  --clr-yellow-20: #F7EEC4;
  --clr-yellow-5: #F6F4E9;

  /* text sizes */

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#site-header>.header-nav>a.active {
  background: var(--clr-orange-100);
}

body {
  color: var(--clr-black-100);
  font-family: var(--ff-content);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-header);
}